<!DOCTYPE html>
<html>

<body>
  <!-- form action is where to send the data and method is which HTTP type to use -->
  <form action="/signup" method="POST">
    <% include partials/login_fields.ejs %>
    <button type="submit">Sign Up</button>

  </form>
</body>

</html>